<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercy | Login</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f8f9fa;
    }

    .login-container {
      width: 500px;
      padding: 50px;
      box-shadow: 1px 1px 10px;
      border: 1px solid green;
      border-radius: 10px;
    }

    .inactive{
      display: none;
    }

  </style>
</head>
<body>
    
<div class="login-container">
  <h2 class="text-center text-success mb-4 fw-bold">
    +Mercy Hospital
  </h2>
  
  <form method="post">

    <div class="my-2">
        <select name="role" id="role" class="form-select">
          <option id="Doctor" value="Doctor">Doctor</option>
          <option id="Nurse" value="Nurse">Nurse</option>
          <option id="Patient" value="Patient">Patient</option>
        </select>
    </div>

    <div class="form-group my-4">
      
      <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">

    </div>
    
    <div class="form-group my-4">

        <input type="password" class="form-control" name="password" placeholder="Enter your password">

    </div>

    <div>
        <button type="submit" class="btn btn-outline-primary btn-block w-100">Login</button>
    </div>
    <div>
        <p class="text-danger fw-bold">{{fail}}</p>
        <p class="text-success fw-bold">{{success}}</p>
        <p class="inactive" id="link"><a href="/sign-up">Not Our Patient? Become one!</a></p>
    </div>
  </form>
</div>


   <script src="/js/bootstrap.js"></script>
   <script>
    let nurse = document.querySelector("#Nurse");
    let doctor = document.querySelector("#Doctor");
    let patient = document.querySelector("#Patient");
    let link = document.querySelector("#link");
    patient.onclick = function() {
      link.classList.remove("inactive");
    }
    nurse.onclick = function() {
      if(!link.classList.contains("inactive"))
      {
        link.classList.add("inactive");
      }
    }

    doctor.onclick = function() {
      if(!link.classList.contains("inactive"))
      {
        link.classList.add("inactive");
      }
    }
   </script>
</body>
</html>